@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.main{
    background-image: url("assets/images/bg.jpg");
    height: 80vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);

}
.main .box{
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;

}

.navigation-bar{
    
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.navigation-bar img{
    color: red;
    width:120px ;
    position: relative;
    z-index: 10;
}
.navigation-bar button{
    position: relative;
    z-index: 10;
}
.hero{
    color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
z-index:10;
height: 100%;
font-family: "Martel Sans", sans-serif;
gap: 40px;
}

.hero :first-child{
    font-weight: 900;
    font-size: 30px;
}

.hero :nth-child(2){
    font-weight: 400;
    font-size: 20px;
}






